#pp-nav li:first-child .active span {
  background-color: #5864ff;
}

#pp-nav li:nth-child(2n) .active span {
  background-color: #34b0ff;
}

#pp-nav li:nth-child(3n) .active span {
  background-color: #40d78f;
}

#pp-nav li:nth-child(4n) .active span {
  background-color: #ffde34;
}

#pp-nav li:nth-child(5n) .active span {
  background-color: #ffa134;
}

#pp-nav li:nth-child(6n) .active span {
  background-color: #5864ff;
}

#pp-nav li:nth-child(7n) .active span {
  background-color: #5864ff;
}
